{
  "extends": [ "eslint:recommended", "plugin:@typescript-eslint/recommended" ],
  "parser": "@typescript-eslint/parser",
  "plugins": [ "@typescript-eslint" ],
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": [2, "single"],
    "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }],
    "indent": ["error", 2] ,
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-namespace": "off",
    "valid-jsdoc": [
      "error",
      {
        "prefer": {
          "arg": "param",
          "argument": "param",
          "class": "constructor",
          "return": "returns",
          "virtual": "abstract"
        }
      }
    ]
  }
}